* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}

html {
  @include helvetica;
  font-size: $base-font-size;
  line-height: 1.5;
}

body {
  @include helvetica;
  color: $color-base;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link-hover;
    cursor: pointer;
    text-decoration: none;
  }
}

.img-responsive {
  margin: 0 auto;
}