.block-header-social {
  float: right;

  .field-items {
    display: flex;
  }

  .field-item {
    margin: rem(0 10px);

    > a {
      @extend .fa;
      color: $white;
      text-indent: rem(-9999px);

      &:before {
        float: left;
        text-indent: 0;
      }

      &:hover {
        color: $color-link;
      }
    }
  }

  .facebook {
    @extend .fa-facebook;
  }

  .twitter {
    @extend .fa-twitter;
  }
}
